In [126]:
import pandas as pd
from json_normalize import json_normalize
import json

#pip install json-normalize
#pip install NewlineJSON

In [153]:
# Opening JSON file

import codecs

data=json.load(codecs.open('/home/samson/my_sandbox/Engineering/Personal_Implemenation/json/10kSamplejson.json', 'r', 'utf-8-sig'))

"""
OR
"""
# with open('/home/samson/my_sandbox/Engineering/Personal_Implemenation/json/10kSamplejson.json', encoding='utf-8-sig') as f:
#     data = json.load(f)
  
# returns JSON list of dictionary
"""
OR
"""

#We can also use this library to normalize #pip install json-normalize

# normal_json = json_normalize(json_like)
# normal_json

'\nOR\n'

In [156]:
with open('out.json','w') as dst:
    for line in data:
      dst.write(str(line))

In [ ]:
#writing each line of the file on a new line

import newlinejson as nlj

#with nlj.open('test.json') as src:
with nlj.open('out.json', 'w') as dst:
     for line in data:
      dst.write(str(line))

# TODO : 

with nlj.open(url_samplejson, json_lib = "simplejson") as src_:
    with nlj.open(url_convertedjson, "w") as dst_:
        for line_ in src_:
            dst_.write(line_)

In [ ]:
x=[]
import json
from io import StringIO
in_json = StringIO("""[{
    "key01": "value01",
    "key02": "value02",

    "keyN": "valueN"
},
{
    "key01": "value01",
    "key02": "value02",

    "keyN": "valueN"
},
{
    "key01": "value01",
    "key02": "value02",

    "keyN": "valueN"
}
]""")

# the only significant line to convert the JSON to the desired format

result = [json.dumps(record) for record in json.load(in_json)] 

print('\n'.join(result))

In [ ]:
# Other formats for dealing encode json files
"""
import codecs
with codecs.open('samples.json', 'r', 'utf-8-sig') as json_file:  
    data = json.load(json_file)

or better:

import io
with io.open('samples.json', 'r', encoding='utf-8-sig') as json_file:  
    data = json.load(json_file)

"""

In [158]:
df=pd.DataFrame(data)
df.head(5)

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9788189999599,TALES OF SHIVA,Mark,mark,0
1,9780099578079,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9780198082897,MY KUMAN,Mark,Mark,0
3,9780007880331,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9780545060455,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0