In [36]:
import pprint
import pymongo
from pymongo import MongoClient,GEO2D,GEOSPHERE,InsertOne, DeleteOne, ReplaceOne
from datetime import datetime,time
from bson.son import SON
from collections import OrderedDict
client = MongoClient('mongodb://localhost:27017/')
#client = MongoClient('localhost', 27017)

In [37]:
db=client.mydb
students=db.Studrecords
list(students.find({"StudentsName":"Jane"}))

[{'_id': ObjectId('5fbf6a0d28f23736d002a04a'),
  'LastName': 'Dow',
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 40, 45, 557000),
  'Score': 5.7,
  'StudentsName': 'Jane'},
 {'_id': ObjectId('5fbf6a2028f23736d002a04f'),
  'LastName': 'Dow',
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 41, 4, 658000),
  'Score': 5.7,
  'StudentsName': 'Jane'},
 {'_id': ObjectId('5fbf6a2828f23736d002a055'),
  'LastName': 'Dow',
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 41, 12, 524000),
  'Score': 5.2,
  'StudentsName': 'Jane'},
 {'_id': ObjectId('5fbf4a4928f23736d002a03a'),
  'profilecreated': datetime.datetime(2020, 11, 26, 0, 25, 13, 606000),
  'Score': 11.9,
  'StudentsName': 'Jane',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf552028f23736d002a03f'),
  'profilecreated': datetime.datetime(2020, 11, 26, 1, 11, 28, 786000),
  'Score': 6.2,
  'StudentsName': 'Jane',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf69a628f23736d002a045'),
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 39, 2, 251000),
  'Score': 5.7,
  'StudentsName': 'Jane'}]

In [38]:
list(students.find_one({"StudentsName":"Jane"}))

['_id', 'LastName', 'profilecreated', 'Score', 'StudentsName']

In [39]:
## Aggregation selection
db=client.mydb
students=db.Studrecords

list(students.aggregate([{"$project":{"_id":0,"Score":1,"StudentsName"
                                   :1}},{"$match":{"StudentsName":"Jane"}},\
                      {"$group":{"_id":"Name","SumScore":{"$avg":"$Score"}}}]))

[{'_id': 'Name', 'SumScore': 6.733333333333333}]

In [40]:
# match /Filtering stage
# students,aggregate([{"$match""{}}])

# if we want to use $text, $ match must be the first Stage in the pipeline

list(students.aggregate([{"$match":{"Score":{"$gte":6}}}]))

[{'_id': ObjectId('5fbf4a4928f23736d002a03a'),
  'profilecreated': datetime.datetime(2020, 11, 26, 0, 25, 13, 606000),
  'Score': 11.9,
  'StudentsName': 'Jane',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf4a4928f23736d002a03b'),
  'profilecreated': datetime.datetime(2008, 11, 12, 0, 0),
  'Score': 6.8,
  'StudentsName': 'Trump',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf4a4928f23736d002a03c'),
  'profilecreated': datetime.datetime(2020, 11, 26, 0, 25, 13, 606000),
  'Score': 7.15,
  'StudentsName': 'Biden',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf4a4928f23736d002a03d'),
  'profilecreated': datetime.datetime(2005, 1, 1, 0, 0),
  'Score': 6.0,
  'email': 'hillary@yahoo.com',
  'StudentsName': 'Hillary',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf4a4928f23736d002a03e'),
  'profilecreated': datetime.datetime(2020, 11, 26, 0, 25, 13, 606000),
  'Score': 6.6,
  'StudentsName': 'Kamala',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf552028f23736d002a03f'),
  'profilecreated': datetime.datetime(2020, 11, 26, 1, 11, 28, 786000),
  'Score': 6.2,
  'StudentsName': 'Jane',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf552028f23736d002a040'),
  'profilecreated': datetime.datetime(2008, 11, 12, 0, 0),
  'Score': 6.3,
  'StudentsName': 'Trump',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf552028f23736d002a041'),
  'profilecreated': datetime.datetime(2020, 11, 26, 1, 11, 28, 786000),
  'Score': 6.65,
  'StudentsName': 'Biden',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf552028f23736d002a043'),
  'profilecreated': datetime.datetime(2020, 11, 26, 1, 11, 28, 786000),
  'Score': 6.1,
  'StudentsName': 'Kamala',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf69a628f23736d002a047'),
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 39, 2, 251000),
  'Score': 6.15,
  'StudentsName': 'Biden'},
 {'_id': ObjectId('5fbf6a0d28f23736d002a04c'),
  'LastName': 'Jtestn',
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 40, 45, 557000),
  'Score': 6.15,
  'StudentsName': 'Biden'},
 {'_id': ObjectId('5fbf6a2028f23736d002a051'),
  'LastName': 'Jtestn',
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 41, 4, 658000),
  'Score': 6.15,
  'StudentsName': 'Biden'}]

In [45]:
list(students.aggregate([{"$match":{"Score.english":{"$gte":6}}},{"$count":"StudentsName"}]))

[{'StudentsName': 12}]

In [47]:
students.count({"Score":{"$gte":6}})

<ipython-input-47-e0032abc7aa0>:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  students.count({"Score":{"$gte":6}})

12

In [57]:
students.update_many({},{"$set":{"Score":{"maths":30,"english":40,"art":50}}})

In [58]:
list(students.aggregate([{"$match":{"Score.english":{"$gte":6}}},{"$count":"StudentsName"}]))

[{'StudentsName': 30}]

In [67]:
#Reassigning/Creating ato a new field with $mutiply $operators
list(students.aggregate([{"$project":{"_id":0,"English":"$Score.english",\
                                      "Maths":"$Score.maths","Average":{"$multiply":["$Score.maths","$Score.english"]}}}]))

[{'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200},
 {'English': 40, 'Maths': 30, 'Average': 1200}]

In [ ]:
#Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

In [50]:
list(students.find({"Score":{"$gte":6}}))

[{'_id': ObjectId('5fbf4a4928f23736d002a03a'),
  'profilecreated': datetime.datetime(2020, 11, 26, 0, 25, 13, 606000),
  'Score': 11.9,
  'StudentsName': 'Jane',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf4a4928f23736d002a03b'),
  'profilecreated': datetime.datetime(2008, 11, 12, 0, 0),
  'Score': 6.8,
  'StudentsName': 'Trump',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf4a4928f23736d002a03c'),
  'profilecreated': datetime.datetime(2020, 11, 26, 0, 25, 13, 606000),
  'Score': 7.15,
  'StudentsName': 'Biden',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf4a4928f23736d002a03d'),
  'profilecreated': datetime.datetime(2005, 1, 1, 0, 0),
  'Score': 6.0,
  'email': 'hillary@yahoo.com',
  'StudentsName': 'Hillary',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf4a4928f23736d002a03e'),
  'profilecreated': datetime.datetime(2020, 11, 26, 0, 25, 13, 606000),
  'Score': 6.6,
  'StudentsName': 'Kamala',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf552028f23736d002a03f'),
  'profilecreated': datetime.datetime(2020, 11, 26, 1, 11, 28, 786000),
  'Score': 6.2,
  'StudentsName': 'Jane',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf552028f23736d002a040'),
  'profilecreated': datetime.datetime(2008, 11, 12, 0, 0),
  'Score': 6.3,
  'StudentsName': 'Trump',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf552028f23736d002a041'),
  'profilecreated': datetime.datetime(2020, 11, 26, 1, 11, 28, 786000),
  'Score': 6.65,
  'StudentsName': 'Biden',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf552028f23736d002a043'),
  'profilecreated': datetime.datetime(2020, 11, 26, 1, 11, 28, 786000),
  'Score': 6.1,
  'StudentsName': 'Kamala',
  'LastName': '$Name01'},
 {'_id': ObjectId('5fbf69a628f23736d002a047'),
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 39, 2, 251000),
  'Score': 6.15,
  'StudentsName': 'Biden'},
 {'_id': ObjectId('5fbf6a0d28f23736d002a04c'),
  'LastName': 'Jtestn',
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 40, 45, 557000),
  'Score': 6.15,
  'StudentsName': 'Biden'},
 {'_id': ObjectId('5fbf6a2028f23736d002a051'),
  'LastName': 'Jtestn',
  'profilecreated': datetime.datetime(2020, 11, 26, 2, 41, 4, 658000),
  'Score': 6.15,
  'StudentsName': 'Biden'}]

Project

In [53]:
#Using the $project
list(students.aggregate([{"$project":{"_id":0,"LastName":1,"StudentsName":1,"Score":1}}]))

[{'Score': 11.9, 'StudentsName': 'Jane', 'LastName': '$Name01'},
 {'Score': 6.8, 'StudentsName': 'Trump', 'LastName': '$Name01'},
 {'Score': 7.15, 'StudentsName': 'Biden', 'LastName': '$Name01'},
 {'Score': 6.0, 'StudentsName': 'Hillary', 'LastName': '$Name01'},
 {'Score': 6.6, 'StudentsName': 'Kamala', 'LastName': '$Name01'},
 {'Score': 6.2, 'StudentsName': 'Jane', 'LastName': '$Name01'},
 {'Score': 6.3, 'StudentsName': 'Trump', 'LastName': '$Name01'},
 {'Score': 6.65, 'StudentsName': 'Biden', 'LastName': '$Name01'},
 {'Score': 5.5, 'StudentsName': 'Hillary', 'LastName': '$Name01'},
 {'Score': 6.1, 'StudentsName': 'Kamala', 'LastName': '$Name01'},
 {'Score': 5.7, 'StudentsName': 'Jane'},
 {'Score': 5.8, 'StudentsName': 'Trump'},
 {'Score': 6.15, 'StudentsName': 'Biden'},
 {'Score': 5.0, 'StudentsName': 'Hillary'},
 {'Score': 5.6, 'StudentsName': 'Kamala'},
 {'LastName': 'Dow', 'Score': 5.7, 'StudentsName': 'Jane'},
 {'LastName': 'Donald', 'Score': 5.8, 'StudentsName': 'Trump'},
 {'LastName': 'Jtestn', 'Score': 6.15, 'StudentsName': 'Biden'},
 {'LastName': 'Cliton', 'Score': 5.0, 'StudentsName': 'Hillary'},
 {'LastName': 'Harris', 'Score': 5.6, 'StudentsName': 'Kamala'},
 {'LastName': 'Dow', 'Score': 5.7, 'StudentsName': 'Jane'},
 {'LastName': 'Donald', 'Score': 5.8, 'StudentsName': 'Trump'},
 {'LastName': 'Jtestn', 'Score': 6.15, 'StudentsName': 'Biden'},
 {'LastName': 'Cliton', 'Score': 5.0, 'StudentsName': 'Hillary'},
 {'LastName': 'Harris', 'Score': 5.6, 'StudentsName': 'Kamala'},
 {'LastName': 'Dow', 'Score': 5.2, 'StudentsName': 'Jane'},
 {'LastName': 'Donald', 'Score': 5.3, 'StudentsName': 'Trump'},
 {'LastName': 'Jtestn', 'Score': 5.65, 'StudentsName': 'Biden'},
 {'LastName': 'Cliton', 'Score': 4.5, 'StudentsName': 'Hillary'},
 {'LastName': 'Harris', 'Score': 5.1, 'StudentsName': 'Kamala'}]

<b>Working with Expressions</b>

In [71]:
#Reassigning/Creating ato a new field with $mutiply $operators
list(students.aggregate([{"$project":{"_id":0,"English":"$Score.english",\
                                      "Maths":"$Score.maths",
                                      "Average":
                                      {"$divide":[{"$add":["$Score.maths","$Score.english"]},2]}}}]))

[{'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0},
 {'English': 40, 'Maths': 30, 'Average': 35.0}]