In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
obj_data=pd.read_csv("Desktop/Data_Analysis/Datasets/Objects.csv",decimal=",")

In [48]:
obj_data

    object      shape  colour  quantity
0   mirror     circle  silver         1
1    wheel     circle  silver         4
2    lemon     circle  yellow         4
3      box     square   brown         3
4    bread     square   white        10
5    towel  rectangle   white         2
6   laptop  rectangle   black         1
7      pen  rectangle    blue         7
8   bottle  rectangle     red         6
9  biscuit  rectangle   brown        20

In [49]:
shape_data=obj_data.groupby("shape")
shape_data

In [50]:
shape_data.first()

           object  colour  quantity
shape
circle     mirror  silver         1
rectangle   towel   white         2
square        box   brown         3

In [51]:
shape_data.get_group("rectangle")

    object colour  quantity
5    towel  white         2
6   laptop  black         1
7      pen   blue         7
8   bottle    red         6
9  biscuit  brown        20

In [52]:
shape_data.quantity.sum()

shape
circle        9
rectangle    36
square       13
Name: quantity, dtype: int64

In [72]:
colour_data=obj_data.groupby("colour")

In [73]:
colour_data.first()

        object      shape  quantity
colour
black   laptop  rectangle         1
blue       pen  rectangle         7
brown      box     square         3
red     bottle  rectangle         6
silver  mirror     circle         1
white    bread     square        10
yellow   lemon     circle         4

In [55]:
colour_data.quantity.mean()

colour
black      1.0
blue       7.0
brown     11.5
red        6.0
silver     2.5
white      6.0
yellow     4.0
Name: quantity, dtype: float64

In [56]:
array=obj_data.values.T.tolist()

In [57]:
array

[['mirror',
  'wheel',
  'lemon',
  'box',
  'bread',
  'towel',
  'laptop',
  'pen',
  'bottle',
  'biscuit'],
 ['circle',
  'circle',
  'circle',
  'square',
  'square',
  'rectangle',
  'rectangle',
  'rectangle',
  'rectangle',
  'rectangle'],
 ['silver',
  'silver',
  'yellow',
  'brown',
  'white',
  'white',
  'black',
  'blue',
  'red',
  'brown'],
 [1, 4, 4, 3, 10, 2, 1, 7, 6, 20]]

In [58]:
array[2][2:3]

['yellow']

In [59]:
array_index=array[1:3]

In [60]:
index=pd.MultiIndex.from_arrays(array_index,names=["shape","colour"])

In [88]:
multi_data=pd.DataFrame({"objects":array[0],"quantity":array[3]},index=index)

In [89]:
multi_data

                  objects  quantity
shape     colour
circle    silver   mirror         1
          silver    wheel         4
          yellow    lemon         4
square    brown       box         3
          white     bread        10
rectangle white     towel         2
          black    laptop         1
          blue        pen         7
          red      bottle         6
          brown   biscuit        20

In [74]:
multi_data.groupby(level=["shape"]).agg(np.sum)

           obj_data
shape
circle            9
rectangle        36
square           13

In [64]:
multi_data.groupby(level=["shape"]).agg(np.sum)

           obj_data
shape
circle            9
rectangle        36
square           13

In [90]:
multi_data.groupby(level=["colour"])\
.agg({"quantity":np.sum,"objects":np.max})

        quantity objects
colour
black          1  laptop
blue           7     pen
brown         23     box
red            6  bottle
silver         5   wheel
white         12   towel
yellow         4   lemon

In [96]:
multi_data.groupby(level=["shape"]).transform(lambda x:x.mean())

                  quantity
shape     colour
circle    silver       3.0
          silver       3.0
          yellow       3.0
square    brown        6.5
          white        6.5
rectangle white        7.2
          black        7.2
          blue         7.2
          red          7.2
          brown        7.2

In [98]:
multi_data["average"]=multi_data.groupby(level=["shape"]).transform(lambda x:x.mean())

In [99]:
multi_

                  objects  quantity  average
shape     colour
circle    silver   mirror         1      3.0
          silver    wheel         4      3.0
          yellow    lemon         4      3.0
square    brown       box         3      6.5
          white     bread        10      6.5
rectangle white     towel         2      7.2
          black    laptop         1      7.2
          blue        pen         7      7.2
          red      bottle         6      7.2
          brown   biscuit        20      7.2

In [ ]:
def numb():
        _inp=input("Enter a number\n")
        if _inp.isdigit() is True:
            return _inp
        else:
            _inp.isalpha() is True
        return numb()
      
numlist=[]
while (True):
    _digitinp=numb()
    Value=float(_digitinp)
    numlist.append(Value)
    _totallist=sum(numlist)
    print(numlist,"Average:",_totallist/len(numlist))