In [33]:
import findspark
findspark.init('/Users/s.eromonsei/Documents/GitHub/Engine/spark-3.2.0-bin-hadoop3.2')
import pyspark
from pyspark.sql import SparkSession

In [34]:
spark=SparkSession.builder.appName('Basics').getOrCreate()

Get the data to read by spark into dataFrame

if not in dataFrame use=> df=spark.createDataFrame(data=df,schema=final_struc)"

In [35]:
df=spark.read.csv('/Users/s.eromonsei/Documents/GitHub/DataFolder/SampleSuperstore.csv',header=True)

In [36]:
df.show()

+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|     Ship Mode|    Segment|      Country|           City|         State|Postal Code| Region|       Category|Sub-Category|   Sales|Quantity|Discount|  Profit|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|   Bookcases|  261.96|       2|       0| 41.9136|
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|      Chairs|  731.94|       3|       0| 219.582|
|  Second Class|  Corporate|United States|    Los Angeles|    California|      90036|   West|Office Supplies|      Labels|   14.62|       2|       0|  6.8714|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|      Furniture|      Tables|957.5775|       5|    0.45|-383.031|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|Office Supplies|     Storage|  22.368|       2|     0.2|  2.5164|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture| Furnishings|   48.86|       7|       0| 14.1694|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|         Art|    7.28|       4|       0|  1.9656|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 907.152|       6|     0.2| 90.7152|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|     Binders|  18.504|       3|     0.2|  5.7825|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|  Appliances|   114.9|       5|       0|   34.47|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture|      Tables|1706.184|       9|     0.2| 85.3092|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| 911.424|       4|     0.2| 68.3568|
|Standard Class|   Consumer|United States|        Concord|North Carolina|      28027|  South|Office Supplies|       Paper|  15.552|       3|     0.2|  5.4432|
|Standard Class|   Consumer|United States|        Seattle|    Washington|      98103|   West|Office Supplies|     Binders| 407.976|       3|     0.2|132.5922|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|  Appliances|   68.81|       5|     0.8|-123.858|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|     Binders|   2.544|       3|     0.8|  -3.816|
|Standard Class|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|Office Supplies|     Storage|  665.88|       6|       0| 13.3176|
|  Second Class|   Consumer|United States|    West Jordan|          Utah|      84084|   West|Office Supplies|     Storage|    55.5|       2|       0|    9.99|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|Office Supplies|         Art|    8.56|       2|       0|  2.4824|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|     Technology|      Phones|  213.48|       3|     0.2|  16.011|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+--------+--------+--------+--------+
only showing top 20 rows

Display all the table/Object Schema

In [37]:
df.printSchema()

root
 |-- Ship Mode: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

Display Columns return a list

In [38]:
df.columns

['Ship Mode',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Category',
 'Sub-Category',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [39]:
df.describe().show()

+-------+--------------+-----------+-------------+--------+-------+------------------+-------+----------+------------+-----------------+-----------------+-------------------+------------------+
|summary|     Ship Mode|    Segment|      Country|    City|  State|       Postal Code| Region|  Category|Sub-Category|            Sales|         Quantity|           Discount|            Profit|
+-------+--------------+-----------+-------------+--------+-------+------------------+-------+----------+------------+-----------------+-----------------+-------------------+------------------+
|  count|          9994|       9994|         9994|    9994|   9994|              9994|   9994|      9994|        9994|             9994|             9994|               9994|              9994|
|   mean|          null|       null|         null|    null|   null|  55190.3794276566|   null|      null|        null|229.8580008304938|3.789573744246548|0.15620272163298934|28.656896307784802|
| stddev|          null|       null|         null|    null|   null|32063.693350364487|   null|      null|        null|623.2451005086809|2.225109691141402|0.20645196782571626| 234.2601076909573|
|    min|   First Class|   Consumer|United States|Aberdeen|Alabama|             10009|Central| Furniture| Accessories|            0.444|                1|                  0|           -0.0895|
|    max|Standard Class|Home Office|United States|    Yuma|Wyoming|             99301|   West|Technology|      Tables|           999.98|                9|                0.8|           99.9408|
+-------+--------------+-----------+-------------+--------+-------+------------------+-------+----------+------------+-----------------+-----------------+-------------------+------------------+

##### Redefining the dataSchema of a dataframe, Sometimes pysaprk passes all data are passed as String </h4>

In [40]:
from pyspark.sql.types import (StructField,StructType,
                               ShortType,IntegerType,StringType,FloatType,BooleanType)

In [41]:
newDataschema=[StructField('Ship Mode',StringType(),True),
                StructField('Segment',StringType(),True),
                StructField('Country',StringType(),True),
                StructField('City',StringType(),True),
                StructField('State',StringType(),True),
                StructField('Postal Code',StringType(),True),
                StructField('Region',StringType(),True),
                StructField('Category',StringType(),True),
                StructField('Sub-Category',StringType(),True),
                StructField('Sales',IntegerType(),True),
                StructField('Quantity',FloatType(),True),
                StructField('Discount',FloatType(),True),
                StructField('Profit',FloatType(),True)
                ]

<b>Reload the data with the new Schema </b>

In [44]:
final_struc=StructType(fields=newDataschema)

In [45]:
df=spark.read.csv('/Users/s.eromonsei/Documents/GitHub/DataFolder/SampleSuperstore.csv',header=True,schema=final_struc)

In [46]:
df.printSchema()

root
 |-- Ship Mode: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- Quantity: float (nullable = true)
 |-- Discount: float (nullable = true)
 |-- Profit: float (nullable = true)

Selecting Rows and Columns from the DataFrame

In [47]:
df.select(df.columns[:4]).show()

+--------------+-----------+-------------+---------------+
|     Ship Mode|    Segment|      Country|           City|
+--------------+-----------+-------------+---------------+
|  Second Class|   Consumer|United States|      Henderson|
|  Second Class|   Consumer|United States|      Henderson|
|  Second Class|  Corporate|United States|    Los Angeles|
|Standard Class|   Consumer|United States|Fort Lauderdale|
|Standard Class|   Consumer|United States|Fort Lauderdale|
|Standard Class|   Consumer|United States|    Los Angeles|
|Standard Class|   Consumer|United States|    Los Angeles|
|Standard Class|   Consumer|United States|    Los Angeles|
|Standard Class|   Consumer|United States|    Los Angeles|
|Standard Class|   Consumer|United States|    Los Angeles|
|Standard Class|   Consumer|United States|    Los Angeles|
|Standard Class|   Consumer|United States|    Los Angeles|
|Standard Class|   Consumer|United States|        Concord|
|Standard Class|   Consumer|United States|        Seattle|
|Standard Class|Home Office|United States|     Fort Worth|
|Standard Class|Home Office|United States|     Fort Worth|
|Standard Class|   Consumer|United States|        Madison|
|  Second Class|   Consumer|United States|    West Jordan|
|  Second Class|   Consumer|United States|  San Francisco|
|  Second Class|   Consumer|United States|  San Francisco|
+--------------+-----------+-------------+---------------+
only showing top 20 rows

In [67]:
df.select('Sub-Category').show()

+------------+
|Sub-Category|
+------------+
|   Bookcases|
|      Chairs|
|      Labels|
|      Tables|
|     Storage|
| Furnishings|
|         Art|
|      Phones|
|     Binders|
|  Appliances|
|      Tables|
|      Phones|
|       Paper|
|     Binders|
|  Appliances|
|     Binders|
|     Storage|
|     Storage|
|         Art|
|      Phones|
+------------+
only showing top 20 rows

<b> Selecting multiple Columns from a DataFrame </b>

In [75]:
df.select(['Sub-Category','Ship Mode']).show()

+------------+--------------+
|Sub-Category|     Ship Mode|
+------------+--------------+
|   Bookcases|  Second Class|
|      Chairs|  Second Class|
|      Labels|  Second Class|
|      Tables|Standard Class|
|     Storage|Standard Class|
| Furnishings|Standard Class|
|         Art|Standard Class|
|      Phones|Standard Class|
|     Binders|Standard Class|
|  Appliances|Standard Class|
|      Tables|Standard Class|
|      Phones|Standard Class|
|       Paper|Standard Class|
|     Binders|Standard Class|
|  Appliances|Standard Class|
|     Binders|Standard Class|
|     Storage|Standard Class|
|     Storage|  Second Class|
|         Art|  Second Class|
|      Phones|  Second Class|
+------------+--------------+
only showing top 20 rows

In [ ]:
type(df['Sub-Category'])

<b> Creating a new columns from existing columns </b>

In [85]:
df.withColumn('NewProfit',df['Profit']*2).show()

+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+-----+--------+--------+--------+---------+
|     Ship Mode|    Segment|      Country|           City|         State|Postal Code| Region|       Category|Sub-Category|Sales|Quantity|Discount|  Profit|NewProfit|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+-----+--------+--------+--------+---------+
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|   Bookcases| null|     2.0|     0.0| 41.9136|  83.8272|
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|      Chairs| null|     3.0|     0.0| 219.582|  439.164|
|  Second Class|  Corporate|United States|    Los Angeles|    California|      90036|   West|Office Supplies|      Labels| null|     2.0|     0.0|  6.8714|  13.7428|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|      Furniture|      Tables| null|     5.0|    0.45|-383.031| -766.062|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|Office Supplies|     Storage| null|     2.0|     0.2|  2.5164|   5.0328|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture| Furnishings| null|     7.0|     0.0| 14.1694|  28.3388|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|         Art| null|     4.0|     0.0|  1.9656|   3.9312|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| null|     6.0|     0.2| 90.7152| 181.4304|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|     Binders| null|     3.0|     0.2|  5.7825|   11.565|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|  Appliances| null|     5.0|     0.0|   34.47|    68.94|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture|      Tables| null|     9.0|     0.2| 85.3092| 170.6184|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| null|     4.0|     0.2| 68.3568| 136.7136|
|Standard Class|   Consumer|United States|        Concord|North Carolina|      28027|  South|Office Supplies|       Paper| null|     3.0|     0.2|  5.4432|  10.8864|
|Standard Class|   Consumer|United States|        Seattle|    Washington|      98103|   West|Office Supplies|     Binders| null|     3.0|     0.2|132.5922| 265.1844|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|  Appliances| null|     5.0|     0.8|-123.858| -247.716|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|     Binders| null|     3.0|     0.8|  -3.816|   -7.632|
|Standard Class|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|Office Supplies|     Storage| null|     6.0|     0.0| 13.3176|  26.6352|
|  Second Class|   Consumer|United States|    West Jordan|          Utah|      84084|   West|Office Supplies|     Storage| null|     2.0|     0.0|    9.99|    19.98|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|Office Supplies|         Art| null|     2.0|     0.0|  2.4824|   4.9648|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|     Technology|      Phones| null|     3.0|     0.2|  16.011|   32.022|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+-----+--------+--------+--------+---------+
only showing top 20 rows

In [88]:
df.withColumnRenamed('Profit','Margin').show()

+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+-----+--------+--------+--------+
|     Ship Mode|    Segment|      Country|           City|         State|Postal Code| Region|       Category|Sub-Category|Sales|Quantity|Discount|  Margin|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+-----+--------+--------+--------+
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|   Bookcases| null|     2.0|     0.0| 41.9136|
|  Second Class|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|      Furniture|      Chairs| null|     3.0|     0.0| 219.582|
|  Second Class|  Corporate|United States|    Los Angeles|    California|      90036|   West|Office Supplies|      Labels| null|     2.0|     0.0|  6.8714|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|      Furniture|      Tables| null|     5.0|    0.45|-383.031|
|Standard Class|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|Office Supplies|     Storage| null|     2.0|     0.2|  2.5164|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture| Furnishings| null|     7.0|     0.0| 14.1694|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|         Art| null|     4.0|     0.0|  1.9656|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| null|     6.0|     0.2| 90.7152|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|     Binders| null|     3.0|     0.2|  5.7825|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|Office Supplies|  Appliances| null|     5.0|     0.0|   34.47|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|      Furniture|      Tables| null|     9.0|     0.2| 85.3092|
|Standard Class|   Consumer|United States|    Los Angeles|    California|      90032|   West|     Technology|      Phones| null|     4.0|     0.2| 68.3568|
|Standard Class|   Consumer|United States|        Concord|North Carolina|      28027|  South|Office Supplies|       Paper| null|     3.0|     0.2|  5.4432|
|Standard Class|   Consumer|United States|        Seattle|    Washington|      98103|   West|Office Supplies|     Binders| null|     3.0|     0.2|132.5922|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|  Appliances| null|     5.0|     0.8|-123.858|
|Standard Class|Home Office|United States|     Fort Worth|         Texas|      76106|Central|Office Supplies|     Binders| null|     3.0|     0.8|  -3.816|
|Standard Class|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|Office Supplies|     Storage| null|     6.0|     0.0| 13.3176|
|  Second Class|   Consumer|United States|    West Jordan|          Utah|      84084|   West|Office Supplies|     Storage| null|     2.0|     0.0|    9.99|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|Office Supplies|         Art| null|     2.0|     0.0|  2.4824|
|  Second Class|   Consumer|United States|  San Francisco|    California|      94109|   West|     Technology|      Phones| null|     3.0|     0.2|  16.011|
+--------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+------------+-----+--------+--------+--------+
only showing top 20 rows

<b>Selecting Rows from a dataFrame </b>

In [71]:
df.head(2)

[Row(Ship Mode='Second Class', Segment='Consumer', Country='United States', City='Henderson', State='Kentucky', Postal Code='42420', Region='South', Category='Furniture', Sub-Category='Bookcases', Sales=None, Quantity=2.0, Discount=0.0, Profit=41.91360092163086),
 Row(Ship Mode='Second Class', Segment='Consumer', Country='United States', City='Henderson', State='Kentucky', Postal Code='42420', Region='South', Category='Furniture', Sub-Category='Chairs', Sales=None, Quantity=3.0, Discount=0.0, Profit=219.58200073242188)]

In [72]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [58]:
# Index to get the first row
df.head(2)[0]

Row(Ship Mode='Second Class', Segment='Consumer', Country='United States', City='Henderson', State='Kentucky', Postal Code='42420', Region='South', Category='Furniture', Sub-Category='Bookcases', Sales=None, Quantity=2.0, Discount=0.0, Profit=41.91360092163086)