In [1]:
import findspark
findspark.init('/Users/s.eromonsei/Documents/GitHub/Engine/spark-3.2.0-bin-hadoop3.2')
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import (StructField,StructType,
                               ShortType,IntegerType,StringType,FloatType,BooleanType)

In [2]:
spark=SparkSession.builder.appName('OpsBasic').getOrCreate()
df=spark.read.csv('/Users/s.eromonsei/Documents/GitHub/DataFolder/Historical_stock_prices.csv',inferSchema=True,header=True)

22/03/20 21:12:35 WARN Utils: Your hostname, seromonseis-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.0.0.98 instead (on interface en0)
22/03/20 21:12:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/20 21:12:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close*: string (nullable = true)
 |-- Adj Close**: string (nullable = true)
 |-- Volume: string (nullable = true)

Filter Operations in pySpark

In [14]:
df.filter('Open < 500').show()

+---------+------+------+------+------+-----------+-----------+
|     Date|  Open|  High|   Low|Close*|Adj Close**|     Volume|
+---------+------+------+------+------+-----------+-----------+
|24-Mar-95|496.07|500.97|496.07|500.97|     500.97|358,370,000|
|23-Mar-95|495.67|496.77|494.19|495.95|     495.95|318,530,000|
|22-Mar-95|495.07|495.67|493.67|495.67|     495.67|313,120,000|
|21-Mar-95|496.15|499.19|494.04|495.07|     495.07|367,110,000|
|20-Mar-95|495.52|496.61|495.27|496.14|     496.14|301,740,000|
|17-Mar-95|495.43|496.67|494.95|495.52|     495.52|417,380,000|
|16-Mar-95|491.87|495.74|491.78|495.41|     495.41|336,670,000|
|15-Mar-95|492.89|492.89|490.83|491.88|     491.88|309,540,000|
|14-Mar-95|490.05|493.69|490.05|492.89|     492.89|346,160,000|
|13-Mar-95|489.57|491.28|489.35|490.05|     490.05|275,280,000|
|10-Mar-95|483.16|490.37|483.16|489.57|     489.57|382,940,000|
| 9-Mar-95|483.14|483.74|482.05|483.16|     483.16|319,320,000|
| 8-Mar-95|482.12|484.08|481.57|483.14|     483.14|349,780,000|
| 7-Mar-95|485.63|485.63| 479.7|482.12|     482.12|355,550,000|
| 6-Mar-95|485.42| 485.7|481.52|485.63|     485.63|298,870,000|
| 3-Mar-95|485.13|485.42|483.07|485.42|     485.42|330,840,000|
| 2-Mar-95|485.65|485.71|483.19|485.13|     485.13|330,030,000|
| 1-Mar-95|487.39|487.83|484.92|485.65|     485.65|362,600,000|
|28-Feb-95|483.81|487.44|483.77|487.39|     487.39|317,220,000|
|27-Feb-95|488.26|488.26|483.18|483.81|     483.81|285,790,000|
+---------+------+------+------+------+-----------+-----------+
only showing top 20 rows

Implementinng a select base on a filter criteria => We can select on or many columns

In [18]:
df.filter('Open < 500').select(['open','High']).show()

+------+------+
|  open|  High|
+------+------+
|496.07|500.97|
|495.67|496.77|
|495.07|495.67|
|496.15|499.19|
|495.52|496.61|
|495.43|496.67|
|491.87|495.74|
|492.89|492.89|
|490.05|493.69|
|489.57|491.28|
|483.16|490.37|
|483.14|483.74|
|482.12|484.08|
|485.63|485.63|
|485.42| 485.7|
|485.13|485.42|
|485.65|485.71|
|487.39|487.83|
|483.81|487.44|
|488.26|488.26|
+------+------+
only showing top 20 rows

Alternatively implementing a dataFrame operation instead of SQL

In [24]:
df.filter(df['open'] < 500).select('Volume').show()

+-----------+
|     Volume|
+-----------+
|358,370,000|
|318,530,000|
|313,120,000|
|367,110,000|
|301,740,000|
|417,380,000|
|336,670,000|
|309,540,000|
|346,160,000|
|275,280,000|
|382,940,000|
|319,320,000|
|349,780,000|
|355,550,000|
|298,870,000|
|330,840,000|
|330,030,000|
|362,600,000|
|317,220,000|
|285,790,000|
+-----------+
only showing top 20 rows

Filtering base on multiple conditions logics , use & => and | => Or  ~ => not in

In [33]:
df.filter((df['open'] < 500) & ~(df['close*'] < 200)).show()

+---------+------+------+------+------+-----------+-----------+
|     Date|  Open|  High|   Low|Close*|Adj Close**|     Volume|
+---------+------+------+------+------+-----------+-----------+
|24-Mar-95|496.07|500.97|496.07|500.97|     500.97|358,370,000|
|23-Mar-95|495.67|496.77|494.19|495.95|     495.95|318,530,000|
|22-Mar-95|495.07|495.67|493.67|495.67|     495.67|313,120,000|
|21-Mar-95|496.15|499.19|494.04|495.07|     495.07|367,110,000|
|20-Mar-95|495.52|496.61|495.27|496.14|     496.14|301,740,000|
|17-Mar-95|495.43|496.67|494.95|495.52|     495.52|417,380,000|
|16-Mar-95|491.87|495.74|491.78|495.41|     495.41|336,670,000|
|15-Mar-95|492.89|492.89|490.83|491.88|     491.88|309,540,000|
|14-Mar-95|490.05|493.69|490.05|492.89|     492.89|346,160,000|
|13-Mar-95|489.57|491.28|489.35|490.05|     490.05|275,280,000|
|10-Mar-95|483.16|490.37|483.16|489.57|     489.57|382,940,000|
| 9-Mar-95|483.14|483.74|482.05|483.16|     483.16|319,320,000|
| 8-Mar-95|482.12|484.08|481.57|483.14|     483.14|349,780,000|
| 7-Mar-95|485.63|485.63| 479.7|482.12|     482.12|355,550,000|
| 6-Mar-95|485.42| 485.7|481.52|485.63|     485.63|298,870,000|
| 3-Mar-95|485.13|485.42|483.07|485.42|     485.42|330,840,000|
| 2-Mar-95|485.65|485.71|483.19|485.13|     485.13|330,030,000|
| 1-Mar-95|487.39|487.83|484.92|485.65|     485.65|362,600,000|
|28-Feb-95|483.81|487.44|483.77|487.39|     487.39|317,220,000|
|27-Feb-95|488.26|488.26|483.18|483.81|     483.81|285,790,000|
+---------+------+------+------+------+-----------+-----------+
only showing top 20 rows

Filtering for Specifics criterias Like Low == 479.7

In [34]:
df.filter(df['Low'] == 479.7).show()

+--------+------+------+-----+------+-----------+-----------+
|    Date|  Open|  High|  Low|Close*|Adj Close**|     Volume|
+--------+------+------+-----+------+-----------+-----------+
|7-Mar-95|485.63|485.63|479.7|482.12|     482.12|355,550,000|
+--------+------+------+-----+------+-----------+-----------+

<b>Collect Operations </b>

=> This allows you to extract out the raw data from the table above into an array/ List

In [35]:
df.filter(df['Low'] == 479.7).collect()

[Row(Date='7-Mar-95', Open='485.63', High='485.63', Low='479.7', Close*='482.12', Adj Close**='482.12', Volume='355,550,000')]

In [40]:
results = df.filter(df['Low'] == 479.7).collect()

In [44]:
#This extact the first row of the object through indexing
results[0]

Row(Date='7-Mar-95', Open='485.63', High='485.63', Low='479.7', Close*='482.12', Adj Close**='482.12', Volume='355,550,000')

In [46]:
# We can then convert this into dictionary and grab use the Key to grab the Value.
results[0].asDict()

{'Date': '7-Mar-95',
 'Open': '485.63',
 'High': '485.63',
 'Low': '479.7',
 'Close*': '482.12',
 'Adj Close**': '482.12',
 'Volume': '355,550,000'}

Calling first few Rows

In [7]:
df.head(3)[0]

Row(Date='18-Mar-22', Open='4,407.34', High='4,465.40', Low='4,390.57', Close*='4,463.12', Adj Close**='4,463.12', Volume='4,233,761,000')